.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  align-self: auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: minmax(50px, 1fr) 16px auto 16px minmax(100px, 1.5fr);
  grid-template-rows: minmax(50px, 1fr) auto minmax(100px, 1.5fr);
  border: 1px none #000;
  background-color: transparent;
  background-image: url('../images/blur-cellphone-close-up-196644.jpg');
  background-position: 50% 30%;
  background-size: cover;
  text-align: center;
}

.subhead {
  display: block;
  margin-top: 0px;
  padding: 20px;
  color: #fff;
  font-size: 30px;
  line-height: 1em;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 1px 1px 5px #000;
}

.heading {
  margin-top: 0px;
  font-size: 60px;
  line-height: 1em;
}

.header-inner {
  position: relative;
  width: 100%;
  padding: 60px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  background-color: hsla(212.72727272727275, 100.00%, 17.25%, 0.60);
  color: #fff;
  text-shadow: 3px 3px 12px #000;
}

.body {
  font-family: 'Open Sans', sans-serif;
}

.button {
  display: inline-block;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 25px;
  border: 1px none #fff;
  border-radius: 7px;
  background-color: #789e90;
  -webkit-transition: opacity 800ms ease;
  transition: opacity 800ms ease;
  font-size: 20px;
  text-align: center;
}

.button:hover {
  background-color: hsla(157.89473684210526, 16.36%, 37.81%, 1.00);
}

.logo {
  max-width: 500px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding: 40px;
}

.screen {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(212.72727272727275, 100.00%, 17.25%, 1.00);
  background-color: hsla(212.72727272727275, 100.00%, 17.25%, 0.60);
}

.content {
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  text-align: center;
}

.heading-2 {
  margin-bottom: 15px;
}

.paragraph {
  line-height: 25px;
}

.section {
  padding: 25px;
}

.bold-text {
  color: #002858;
}

.link {
  color: #789e90;
}

.text-block {
  color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  text-transform: none;
}

.footer {
  padding: 30px;
  background-color: #002858;
  font-style: normal;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .header-inner {
    padding: 40px;
  }
}

@media (max-width: 767px) {
  .header-inner {
    padding: 25px;
  }
  .image {
    max-width: 100%;
  }
  .bold-text {
    font-size: 26px;
  }
}

@media (max-width: 479px) {
  .header {
    justify-items: stretch;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  .subhead {
    font-size: 20px;
  }
  .heading {
    font-size: 40px;
  }
  .header-inner {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }
  .image {
    max-width: 100%;
  }
  .bold-text {
    font-size: 26px;
    line-height: 35px;
  }
}

